{{#if_neq InvalidLineItemCount 0}}
<div class="card">
    <div class="card-header text-white bg-dark clearfix">
        <div class="cart-header-title  pull-left">
            <h2 class="h3">{{localize 'ShoppingCart' 'T_UnavailableItems'}}</h2>
        </div>
    </div>
    <div class="card-body">

        <div class="alert alert-danger">
            <div class="multiline-message">
                <span class="fa  fa-exclamation-triangle  multiline-message-icon" aria-hidden="true"></span>
                <span>{{InvalidLineItemCount}} {{localize 'ShoppingCart' 'L_NoMoreAvailable'}}</span>
            </div>
        </div>

       {{#each LineItemDetailViewModels}}
            {{#unless IsValid}}
                  {{>LineItemDetail}}
            {{/unless}}
	   {{/each}}
    </div>
</div>
{{/if_neq}}

{{#if_neq InvalidLineItemCount LineItemCount}}
<div class="card">
    <div class="card-header text-white bg-dark clearfix">
        <div class="cart-header-title  pull-left">
            <h2 class="h3">{{localize 'ShoppingCart' 'T_ShoppingCart'}}</h2>
        </div>
        <div class="cart-header-labels  pull-left">
            <div class="cart-header-price  text-right  pull-left  d-none d-md-block">{{localize 'MyAccount' 'L_UnitPrice'}}</div>

            <div class="cart-header-qty  text-center  pull-left  d-none d-md-block">{{localize 'MyAccount' 'L_Quantity'}}</div>

            <div class="cart-header-subtotal  text-right  pull-left  d-none d-md-block">{{localize 'MyAccount' 'L_Subtotal'}}</div>
        </div>
    </div>
    <div class="card-body">
        {{#each LineItemDetailViewModels}}
    	    {{#if IsValid}}
                  {{>LineItemDetail}}
            {{/if}}
    	{{/each}}
    </div>
</div>
{{/if_neq}}