<div class="card{{#if IsPreferredShipping}} text-primary border-primary{{else}}{{/if}}" data-address-id="{{Id}}">
    <div class="card-body">

        <div class="row">
            <div class="col-md-4 order-md-2 text-md-right">
                {{#if IsPreferredShipping}}<strong>{{/if}}
                <span class="h5">{{AddressName}}</span>
                {{#if IsPreferredShipping}}</strong>{{/if}}

                {{#if IsPreferredShipping}}
                <br class="d-none d-md-block"/>
                <em class="text-muted">{{localize 'MyAccount' 'L_IsDefaultAddress'}}</em>
                {{/if}}
            </div>
            <div class="col-md-8 order-md-1">
                {{FirstName}}
                {{LastName}}<br />
                {{Line1}}<br />
                {{#if Line2}}
                    {{Line2}}<br />
                {{/if}}
                {{City}},
                {{RegionName}},
                {{PostalCode}}<br />
                {{PhoneNumber}}
            </div>

            <div class="col-sm-12 text-right order-last">
                <button type="button" class="btn  btn-link" data-qa="address-delete" data-oc-click="deleteAddressConfirm" title="{{localize 'MyAccount' 'B_DeleteAddress'}}">
                    <span class="fa  fa-trash-o  fa-lg" aria-hidden="true"></span>
                    <span class="sr-only">{{localize 'MyAccount' 'B_DeleteAddress'}}</span>
                </button>

                <a class="btn  btn-link" data-qa="address-edit" href="{{UpdateAddressUrl}}" title="{{localize 'MyAccount' 'B_EditAddress'}}">
                    <span class="fa  fa-pencil  fa-lg" aria-hidden="true"></span>
                    <span class="sr-only">{{localize 'MyAccount' 'B_EditAddress'}}</span>
                </a>
            </div>
        </div>

        {{#unless IsPreferredShipping}}
        <div class="row">
            <div class="col-sm-12  text-right">
                <hr/>
                <button type="button" class="btn  btn-outline-secondary" data-qa="address-setdefault" data-oc-click="setDefaultAddress">
                   {{localize 'MyAccount' 'B_SetDefaultAddress'}}
                </button>
            </div>
        </div>
        {{/unless}}

    </div>
</div>