<div class="row cart-item mx-0">
    {{#if Rewards}} {{!--Pleine largeur--}}
        <div class="text-center">
            <span class="promotion">
                {{#each Rewards}}
                    <em>{{Description}}</em><br/>
                {{/each}}
            </span>
        </div>
    {{/if}}

    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-6 col-sm-4">
                <a href="{{ProductUrl}}">
                    <img src="{{ImageUrl}}" class="img-fluid" alt="Thumbnail" onerror="this.onerror=null; this.src='{{FallbackImageUrl}}'"/>
                </a>
            </div>
            <div class="col">
                <div data-qa="cart-product-brand">{{ProductSummary.Brand}}</div>
                <p>
                    <span data-qa="cart-product-name"><strong>{{ProductSummary.DisplayName}}</strong></span>
                    {{#if VariantId}}
                        <br/>
                        {{#each KeyVariantAttributesList}}
                            {{#if_neq @index 0}}|{{/if_neq}}
                            {{Value}}
                        {{/each}}
                    {{/if}}
                </p>
                <!-- <p class="d-none d-md-block"><a href="#" class="btn btn-primary">Buy it again</a></p> -->
            </div>
        </div>
    </div>

    <div class="col">
        <div class="small">
            {{#if IsOnSale}}
                <del data-qa="cart-product-price">{{DefaultListPrice}}</del>
                <br/>
                <strong class="text-danger" data-qa="cart-product-sales-price">{{ListPrice}}</strong>
            {{else}}
                <strong data-qa="cart-product-price">{{DefaultListPrice}}</strong>
            {{/if}}
        </div>
    </div>

    <div class="col">
        {{!--<div class="col-md-6 d-none d-md-block"><span class="text-muted">X</span></div>--}}
        <strong>
            {{!--<span class="visible-xs-inline">{{localize 'CheckoutProcess' 'L_QuantityMobile'}}</span>--}}
            <span data-qa="checkout-product-quantity">{{Quantity}}</span>
        </strong>
    </div>

    <div class="col">
        <div>
            {{#if IsPriceDiscounted}}
                <del data-qa="cart-product-subtotal-price">{{TotalWithoutDiscount}}</del>
                <br/>
                <strong data-qa="cart-product-subtotal-sales" class="text-danger">{{Total}}</strong>
            {{else}}
                <strong data-qa="cart-product-subtotal-price">{{Total}}</strong>
            {{/if}}
            {{#if SavingsTotal}}
                <br/>
                <span class="text-success">{{localize 'ShoppingCart' 'L_LineItemSavings'}} </span>
                <span class="text-success" data-qa="lineItem-savingstotal">{{SavingsTotal}}</span>
            {{/if}}
            {{>AdditionalFees}}
        </div>
    </div>
    <!--
    <div class="col-sm-12 visible-xs push-top">
        <a href="#" class="btn btn-primary btn-block">Buy it again</a>
    </div>
    -->
</div>