<div data-templateid="KvaItems">
    {{#each KeyVariantAttributeItems}}
        {{#if Values}}
            <div class="island  btn-multiline"
                 data-qa="product-variants"
                 data-propertyname="{{PropertyName}}"
                 data-propertydatatype="{{PropertyDataType}}"
                 role="region"
                 aria-label="{{localize 'ProductPage' 'L_AvailableFormats'}} - {{DisplayName}}">

            <h2 class="h6">{{DisplayName}}</h2>

            {{#each Values}}
                {{#if Disabled}}
                    {{#if Selected}}
                        <button class="btn  btn-inactive  btn-sm active  mb-1"
                                data-oc-click="selectKva"
                                value="{{Value}}" aria-pressed="true">
                          {{#if ImageUrl}}
                            <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                          {{else}}
                            {{Title}}
                          {{/if}}
                        </button>
                    {{else}}
                        <button class="btn  btn-inactive  btn-sm  mb-1"
                                data-oc-click="selectKva"
                                value="{{Value}}" aria-pressed="false">
                          {{#if ImageUrl}}
                            <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                          {{else}}
                            {{Title}}
                          {{/if}}
                        </button>
                    {{/if}}

                {{else}}
                    {{#if Selected}}
                        <button class="btn  btn-primary  btn-sm active  mb-1"
                                data-oc-click="selectKva"
                                value="{{Value}}" aria-pressed="true">
                          {{#if ImageUrl}}
                            <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                          {{else}}
                            {{Title}}
                          {{/if}}
                        </button>
                    {{else}}
                        <button class="btn  btn-outline-secondary  btn-sm  mb-1"
                                data-oc-click="selectKva"
                                value="{{Value}}" aria-pressed="false">
                          {{#if ImageUrl}}
                            <img class="img-fluid" src="{{ImageUrl}}" alt="{{Title}}" />
                          {{else}}
                            {{Title}}
                          {{/if}}
                        </button>
                    {{/if}}
                {{/if}}
            {{/each}}
        </div>
        {{/if}}
    {{/each}}
</div>
