<div data-templateid="CompatOrderDetail" class="compact-order">
    <div class="row">
        <div class="col-sm-12  col-md-4  col-lg-3">
            <div class="compact-order-status">
                {{localize 'MyAccount' 'L_Status' }}
                <br class="d-none d-md-block" />
                <strong class="h4">{{ OrderInfos.OrderStatus }}</strong>
            </div>

            <hr class="compact-order-splitter  d-md-none">
        </div>

        <div class="col-sm-12  col-md-8  col-lg-9">
            <div class="row">
                <div class="col-md-8">
                    <div class="compact-order-date">
                        <strong class="h4">{{localizeFormat 'MyAccount' 'L_OrderedOn' OrderInfos.OrderDate}}</strong>
                    </div>

                    <p>
                        {{localizeFormat 'MyAccount' 'L_OrderNumber' OrderInfos.OrderNumber}}
                        {{#if ShipmentSummaries.[0].ScheduledShipDate}}
                        <br />
                        {{localizeFormat 'MyAccount' 'L_ScheduledShipping' ShipmentSummaries.[0].ScheduledShipDate}}
                        {{/if}}
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="compact-order-total"><strong class="h4">{{OrderInfos.PricePaid}}</strong></p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6  small">
                            {{#if ShipmentSummaries.[0].TrackingInfo.Url }}
                                <a href="{{ShipmentSummaries.[0].TrackingInfo.Url}}">{{ localize 'MyAccount' 'H_OrderTracking' }}</a>
                            {{/if}}
                        </div>
                        <div class="col-sm-6  text-right  small"><a href="{{Url}}" class="cta">{{ localize 'MyAccount' 'H_OrderDetail' }}<span class="sr-only"> - {{localizeFormat 'MyAccount' 'L_OrderNumber' OrderInfos.OrderNumber}}</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>