<div xmlns:v="http://rdf.data-vocabulary.org/#" class="clearfix">
    <a class="pull-left  island" href="javascript: history.back();">
        <span class="fa  fa-arrow-circle-left" aria-hidden="true"></span> {{localize 'General' 'B_Back'}}
        <span class="sr-only"> {{localize 'General' 'L_ToPreviousPage'}}</span>
    </a>
    <span class=" d-none d-md-inline">&#160;| {{localize 'General' 'L_Breadcrumb'}}</span>

    <nav class="d-inline-block" aria-label="{{localize 'General' 'L_Breadcrumb_A11y'}}">
        <ol class="breadcrumb d-none d-md-flex">
            {{#each Items}}
            {{#if_exists Url}}
            <li class="breadcrumb-item" typeof="v:Breadcrumb">
                <a class="cta" href="{{Url}}" rel="v:url" property="v:title">{{DisplayName}}</a>
            </li>
            {{else}}
            <li class="breadcrumb-item">
                <span>{{DisplayName}}</span>
            </li>
            {{/if_exists}}
            {{/each}}
            <li class="breadcrumb-item font-weight-bold">{{ActivePageName}}</li>
        </ol>
    </nav>
</div>